* { margin:0; padding:0;}
body { font-size:12px; color:#000000; font-family:Arial;}
img {border:none;}
a { text-decoration:none; color:#666666;}
a:hover { text-decoration:none; color:#33CC66;}
#menunav { float:left;margin:0 auto; float:left;}
.opacity{ filter:alpha(opacity=50);       /* IE */ -moz-opacity:0.5;              /* 老版Mozilla */ -khtml-opacity:0.5;              /* 老版Safari */ opacity: 0.5;           /* 支持opacity的浏览器*/ }

ul {
	list-style:none;
}
#webmenu {
	text-align:left;
	
}

#webmenu li ul {
	display:none;
}
#webmenu li ul li {
	float:none;
}
*html #webmenu li ul li {
	display:inline;
}
#webmenu li ul a {
	float:none;
	height:29px;
	line-height:29px;
	padding:0 0px;

	

}

.second_menu, .third_menu, .fourth-menu {
	position:absolute;
}


.first_menu2 li {
	float:left;
	position:relative;
}
.first_menu2 a {
	float:left;
	display:block;
	height:44px;
	line-height:44px;
	
}
.first_menu2 a:hover {
	
}

.first_menu li {
	float:left;
	position:relative;
}
.first_menu a {
	float:left;
	display:block;
	
	line-height:26px;
	
	border-bottom:1px solid #098bb0;
    padding-left:5px;
		padding-right:5px;
		border-left:1px solid #098bb0;border-right:1px solid #098bb0;
}
.first_menu a:hover {
	border-bottom:1px solid #098bb0; text-decoration:none;
}


.second_menu {
	top:36px;
	right:0;
}
*html .second_menu {
	right:-1px;
}
.second_menu a.arrow2 {opacity:0.7; filter:alpha(opacity=70); /* IE */ -moz-opacity:0.7; 
	background:#ffffff; color:#000000;
}
.second_menu a.arrow2:hover {
	background:#ffffff ; opacity:0.7; filter:alpha(opacity=70); /* IE */ -moz-opacity:0.7; display:block;line-height:26px; color:#006633;
}

.third_menu, .fourth-menu {
	width:256px; height:26px;
	top:0;
	left:256px;_left:115px;
}
.third_menu a {opacity:0.7; filter:alpha(opacity=70); /* IE */ -moz-opacity:0.7; 
	background:#ffffff; color:#000000;}


.third_menu a:hover { background:#ffffff ; opacity:0.7; filter:alpha(opacity=70); /* IE */ -moz-opacity:0.7; display:block;line-height:26px; color:#098bb0;
}



#subMgm {
	left:0px;width:175px; display:block; line-height:26px;
}
#subMgm .third_menu {
	left:175px; display:block; line-height:26px;
}
#subMgm .fourth-menu {
	left:175px; display:block; line-height:26px;
}
#subMusic, #subNews {
	left:0px;width:120px; display:block; line-height:26px;
}
.arrow20 { display:block; float:left; float:left;}
.arrow20 a:hover { display:block; width:123px; height:38px; }